RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule . index.php [L]


#RewriteEngine On
#RewriteBase /CursoIFCD0210/M2_Servidor/UF1846_1_DavidTrigo/excursionistasAPI
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteRule ^ index.php [QSA,L]




